


h1 {
color: blue}

h1 {
    color: blue;
} /* 1 */

.title {
    color: green;
} /* 10 */

#box p {
    color: orange;
} /* 101 */

.text {
    color: black;
} /* 10 */

.text.highlight {
    color: blue;
} /* 20 */

p.highlight {
    color: red;
} /* 11 */

#box p.text{
    color: green;
} /* 111 */

#box p.text.highlight{
    color: red;
} /* 121 */
