* {
    font-family: Manrope;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(12, 9, 9);
    padding: 64px 20px 220px 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;

    color: #FFFFFF;
}

.mt_64 {
    margin-top: 64px;
}

.main-border {
        border: 1px solid #333333;
        border-radius: 18px;
}

.container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
}

.about_me {
    display: flex;
    align-items: center;
    gap: 112px;
}

.short_description {
    display: flex;
    flex-direction: column;
    gap: 22px;
    color: #FFFFFF
}

.short_description a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
}

.my_name {
    font-weight: 800;
    font-size: 68px;
    line-height: 100%;
}


.mission {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}


.write_message {
    margin-top: 42px;
    background-color: #AADB6B;
    max-width: 232px;
    width: 100%;
    border-radius: 18px;
    padding: 18px 14px;
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    gap: 8px;
}


.social_name {
    width: 100%;
    text-align: center;
}

.social_links {
    margin: 32px 0 0 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.social_link {
    padding: 8px 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    max-width: 232px;
    width: 100%;
    text-align: center;
}

.bio {
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bio p {
    font-weight: 500; 
    font-size: 24px;
    line-height: 28px;
}

.work_experiens {
    color: white;
    padding: 24px;
}

.job_list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.company {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.company .period {
font-size: 18px;
line-height: 26px;
color: #76757B;
}

.company_link a {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #76757B;
}

.job .position {
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.portfolio .items {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.portfolio .items .item {
    padding: 32px;
    display: flex;
    background-color: #AADB6B;
    color: #000000;
    align-items: center;
    border-radius: 32px;
    gap: 48px;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.portfolio h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
}

.portfolio p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.show_project {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.show_project a {
    max-width: 180px;
    width: 100%;
    display: block;
    border-radius: 18px;
    padding: 18px 14px;
    border: 1px solid #333333;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
}
